{% extends 'vitrine/base/base.html.twig' %}

{% block title %}Lorem Ipsum{% endblock %}

{% block body %}
    <div class="bg-light rounded text-center">
        <h1>agence Lorem, ipsum.</h1>
        <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum hic qui obcaecati officia delectus harum sit quasi fugit corrupti porro neque alias, nesciunt eligendi quam impedit.</p>
    </div>
    <div class="container">
        <h5 class="h5">Nos derniers biens</h5>
        <div class="row flex">
            {% for propriete in proprietes %} 
            <div class="col-3">
                <div class="card h-100">
                    <div class="card-boby">
                        <h5 class="card-title">
                           {{propriete.titre}} 
                        </h5>
                        <p class="card-text">
                           ville: {{propriete.ville}} 
                        </p>
                        <p class="card-text">
                            code postal : {{propriete.codePostal}}
                        </p>
                        <div class="text-primary"> prix : {{propriete.prixFormatter}} FCFA</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
