{% extends 'vitrine/base/base.html.twig' %}

{% block title %}Lorem Ipsum{% endblock %}

{% block body %}
<div class="bg-light rounded text-center">
    <h1>agence Lorem, ipsum.</h1>
    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum hic qui obcaecati officia
        delectus harum sit quasi fugit corrupti porro neque alias, nesciunt eligendi quam impedit.</p>
</div>
<div class="container">
    <h5 class="h5">Nos derniers biens</h5>
    <div class="row flex">
        {% for propriete in proprietes %}
            {% include "vitrine/base/include/_propriete.html.twig" %}
        {% endfor %}
    </div>
</div>
{% endblock %}