<!DOCTYPE html>
<html lang="fr">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Back office{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    {% include "backoffice/base/includes/_navbar.html.twig" %}

    <body>
        {% block body %}{% endblock %}
    </body>

</html>

{% block javascripts %}
{{ encore_entry_script_tags('app') }}
{% endblock %}