<!DOCTYPE html>
<html lang="fr" class="translated-ltr">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Back office{% endblock %}</title>
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        {% block stylesheets %}
        {{ encore_entry_link_tags('admin') }}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body class="sidebar-mini layout-fixed sidebar-closed sidebar-collapse" , style="height: auto;">
        {% include "backoffice/base/includes/_slidebar.html.twig" %}
        {% block body %}

        {% endblock %}
    </body>

</html>

{% block javascripts %}
{{ encore_entry_script_tags('admin') }}
{{ encore_entry_script_tags('app') }}
{% endblock %}